<!doctype html>
<html lang="en">

<head>
  {{>head}}
</head>

<body>
    {{>arrownav}}

    <div class="main-wrapper  container-fluid bg-adminbg" style="min-height: 90vh;">

        <!-- <div class="bg order-2 order-md-2" style="background-image: url('images/bg_1.jpg');"></div> -->
        <div class="contents order-3 order-md-2">

            <div class="container ">
                <div class="row mt-3 align-items-center justify-content-center">
                    <div class="col-md-9  bg-cardbg p-4 pt-2 mt-4 rounded text-dark mb-5">
